In [1]:
# https://pypi.org/project/yfinance/
# pip install yfinance in terminal
import yfinance as yf
import pandas as pd
from MCForecastTools import MCSimulation

In [2]:
#create yahoo finance objects


data = yf.download("BTC-USD ETH-USD LUNA1-USD", start="2019-01-01", end="2021-05-04")
data

[*********************100%***********************]  3 of 3 completed

               Adj Close                                 Close               \
                 BTC-USD      ETH-USD  LUNA1-USD       BTC-USD      ETH-USD
Date
2019-01-01   3843.520020   140.819412        NaN   3843.520020   140.819412
2019-01-02   3943.409424   155.047684        NaN   3943.409424   155.047684
2019-01-03   3836.741211   149.135010        NaN   3836.741211   149.135010
2019-01-04   3857.717529   154.581940        NaN   3857.717529   154.581940
2019-01-05   3845.194580   155.638596        NaN   3845.194580   155.638596
...                  ...          ...        ...           ...          ...
2021-04-30  57750.175781  2773.207031  16.687428  57750.175781  2773.207031
2021-05-01  57828.050781  2945.892822  16.541624  57828.050781  2945.892822
2021-05-02  56631.078125  2952.056152  17.145102  56631.078125  2952.056152
2021-05-03  57200.292969  3431.086182  17.284819  57200.292969  3431.086182
2021-05-04  53333.539062  3253.629395  16.337412  53333.539062  3253.629395

                               High                                   Low  \
            LUNA1-USD       BTC-USD      ETH-USD  LUNA1-USD       BTC-USD
Date
2019-01-01        NaN   3850.913818   141.397507        NaN   3707.231201
2019-01-02        NaN   3947.981201   156.929138        NaN   3817.409424
2019-01-03        NaN   3935.685059   155.863052        NaN   3826.222900
2019-01-04        NaN   3865.934570   156.878983        NaN   3783.853760
2019-01-05        NaN   3904.903076   160.824890        NaN   3836.900146
...               ...           ...          ...        ...           ...
2021-04-30  16.687428  57900.718750  2796.054932  16.936308  53129.601562
2021-05-01  16.541624  58448.339844  2951.440918  16.812792  57052.273438
2021-05-02  17.145102  57902.593750  2984.891846  17.566925  56141.906250
2021-05-03  17.284819  58973.308594  3450.037842  19.178232  56590.871094
2021-05-04  16.337412  57214.179688  3523.585938  17.449423  53191.425781

                                            Open                          \
                ETH-USD  LUNA1-USD       BTC-USD      ETH-USD  LUNA1-USD
Date
2019-01-01   132.650711        NaN   3746.713379   133.418152        NaN
2019-01-02   140.650955        NaN   3849.216309   141.519516        NaN
2019-01-03   147.198364        NaN   3931.048584   155.196045        NaN
2019-01-04   147.907104        NaN   3832.040039   148.912888        NaN
2019-01-05   154.337418        NaN   3851.973877   154.337418        NaN
...                 ...        ...           ...          ...        ...
2021-04-30  2728.169922  15.787853  53568.664062  2757.734131  16.241518
2021-05-01  2755.908447  16.397100  57714.664062  2772.838379  16.689848
2021-05-02  2860.526123  16.426699  57825.863281  2945.560059  16.551140
2021-05-03  2951.175781  17.145662  56620.273438  2951.175781  17.147329
2021-05-04  3180.742676  15.865406  57214.179688  3431.131592  17.247444

                 Volume
                BTC-USD      ETH-USD    LUNA1-USD
Date
2019-01-01   4324200990   2258709868          NaN
2019-01-02   5244856836   3328240369          NaN
2019-01-03   4530215219   2676164880          NaN
2019-01-04   4847965467   3126192535          NaN
2019-01-05   5137609824   3338211928          NaN
...                 ...          ...          ...
2021-04-30  52395931985  29777179889  305117919.0
2021-05-01  42836427360  28726205272  202252167.0
2021-05-02  38177405335  28032013047  352739885.0
2021-05-03  51713139031  49174290212  759634434.0
2021-05-04  68564706967  62402045158  599002545.0

[855 rows x 18 columns]

In [3]:

'''
btc = yf.Ticker("BTC-USD") # bitcoin
eth = yf.Ticker("ETH-USD") # ethereum
luna1 = yf.Ticker("LUNA1-USD") # terra
bnb = yf.Ticker("BNB-USD") # binance
ada = yf.Ticker("ADA-USD") # cardano

'''

'\nbtc = yf.Ticker("BTC-USD") # bitcoin\neth = yf.Ticker("ETH-USD") # ethereum\nluna1 = yf.Ticker("LUNA1-USD") # terra\nbnb = yf.Ticker("BNB-USD") # binance\nada = yf.Ticker("ADA-USD") # cardano\n\n'

In [4]:
'''

# get 2 years of historical market data
btc_hist = btc.history(period="2y")
eth_hist = eth.history(period="2y")
luna1_hist = luna1.history(period="2y")
bnb_hist = bnb.history(period="2y")
ada_hist = ada.history(period="2y")

#create empty dataframe

prices = pd.DataFrame()

#put only the closing price into the new 'prices' dataframe

prices['btc']= btc_hist ['Close']
prices['eth']= eth_hist.loc[:,'Close']
prices['luna1']= luna1_hist.loc[:,'Close']
prices['bnb']= bnb_hist.loc[:,'Close']
prices['ada']= ada_hist.loc[:,'Close']
prices.set_index(['btc','eth'],inplace=True)
prices

'''

'\n\n# get 2 years of historical market data\nbtc_hist = btc.history(period="2y")\neth_hist = eth.history(period="2y")\nluna1_hist = luna1.history(period="2y")\nbnb_hist = bnb.history(period="2y")\nada_hist = ada.history(period="2y")\n\n#create empty dataframe\n\nprices = pd.DataFrame()\n\n#put only the closing price into the new \'prices\' dataframe\n\nprices[\'btc\']= btc_hist [\'Close\']\nprices[\'eth\']= eth_hist.loc[:,\'Close\']\nprices[\'luna1\']= luna1_hist.loc[:,\'Close\']\nprices[\'bnb\']= bnb_hist.loc[:,\'Close\']\nprices[\'ada\']= ada_hist.loc[:,\'Close\']\nprices.set_index([\'btc\',\'eth\'],inplace=True)\nprices\n\n'

In [5]:
'''
#compute daily return as a percentage, dropping the first observation
daily_returns = prices.pct_change().dropna()
daily_returns
'''

'\n#compute daily return as a percentage, dropping the first observation\ndaily_returns = prices.pct_change().dropna()\ndaily_returns\n'

In [6]:
# Visualize distribution of bitcoin percent change in closing price using a histogram plot
#daily_returns["btc"].plot.hist(title='Bitcoin Daily Return Distribution')

In [7]:
#daily_returns["eth"].plot.hist(title='Ethereum Daily Return Distribution')

In [8]:
#daily_returns["luna1"].plot.hist(title='Terra Daily Return Distribution')

In [9]:
#daily_returns["bnb"].plot.hist(title='Binance Daily Return Distribution')

In [18]:
#daily_returns["ada"].plot.hist(title='Cardano Daily Return Distribution')
data
columns = pd.MultiIndex.from_product([['btc'], ['open', 'high', close,'low;]])

btc_df=pd.DataFrame(columns=columns)

btc_df['btc']= data["Close"]["BTC-USD"]

btc_df

                     btc
                    open          high
Date
2019-01-01   3843.520020   3843.520020
2019-01-02   3943.409424   3943.409424
2019-01-03   3836.741211   3836.741211
2019-01-04   3857.717529   3857.717529
2019-01-05   3845.194580   3845.194580
...                  ...           ...
2021-04-30  57750.175781  57750.175781
2021-05-01  57828.050781  57828.050781
2021-05-02  56631.078125  56631.078125
2021-05-03  57200.292969  57200.292969
2021-05-04  53333.539062  53333.539062

[855 rows x 2 columns]

In [ ]:
data_fixed = data[['close']]
data_fixed

data.rename(columns = {'Close':'close'}, inplace=True)

MC_3_year = MCSimulation(
    portfolio_data = data,
    weights = [.60,.20,.20],
    num_simulation = 500,
    num_trading_days = 252*3
)

In [ ]:
#data['Close']